<div class="col-md-4 col-sm-6 animation fadeInUp">
    <div class="wedding-card">
        <div class="card-photo">
            <img src="{{ guest.picture.url }}" alt="" class="rounded fullwidth">
            <div class="heart-icon-wrapper">
                <div class="heart-icon">
                    <i class="de-icon-heart"></i>
                </div>
            </div>
        </div>
        <div class="card-duty">
            <h5>{{ guest.get_role_display }}</h5>
        </div>
        <div class="card-name">{{ guest.first_name }}</div>
        <div class="card-desc">
            <p class="no-margin">{{ guest.details|truncatewords:24 }}</p>
        </div>
    </div>
</div>