<div class="row story-row{% if not count|divisibleby:"2" %} story-row-reverse{% endif %}">      
    <div class="col-sm-12 col-md-5 text-center">
        <div class="photo-item animation delay1 fadeInLeft">
            <img src="{{ entry.picture.url }}" alt="" class="hover-animation image-zoom-in">
            <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
            </div>
                                				                                    
            <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                <div class="alignment">
                    <div class="v-align center-middle">
                        <a href="http://placehold.it/700x463" class="magnific-zoom" title="Our First Met">
                            <div class="de-icon circle light medium-size inline">
                                <i class="de-icon-zoom-in"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
							
        </div><!--END of PHOTO-ITEM-->
    </div>
                        
    <div class="col-sm-12 col-md-2 text-center story-date-wrapper animation fadeIn">
        <div class="story-date">
            <div class="the-month">{{ entry.get_month_display }}</div>
            <div class="the-year">{{ entry.year }}</div>
        </div>                      
    </div>
                        
    <div class="col-sm-12 col-md-5 animation delay1 fadeInRight">
        <h5>{{ entry.title|upper }}</h5>
        <p>{{ entry.details }}</p>
    </div>    
    
    <div class="vertical-line"></div>
                        
</div><!-- END of STORY ROW-1 -->